<form {{action 'updated' on='submit'}}>
  <fieldset>
    {{input type='text' placeholder='Username' value=username}}
  </fieldset>
  <fieldset class="alt">
    {{input type='text' placeholder='First name (optional)' value=firstName}}
    {{input type='text' placeholder='Last name (optional)' value=lastName}}
    <button tpye="submit">Submit</button>
  </fieldset>
</form>
